<a href="/">Home!</a>

<h1>{{title}}</h1>

<div ng-show="showLoginForm">
  <form ng-submit="saveLogin(user)">
    <label for="login">Your login:</label>
    <input id="login" type="text" ng-model="user.login"/>
  </form>
</div>


<div ng-show="showChatForm">
  <div class="msgWindow shadow">
      <span class="allMsg" ng-repeat="msg in messages">
        <code>{{msg.time | date:'HH:mm:ss'}}</code>
        <b>{{msg.author}}:</b>
        <span>{{msg.content}}</span>
      </span>
  </div>
  <div>
    <form ng-submit="sendMsg(msg)">
      <input class="msgInput" type="text" ng-model="msg.content"/>
    </form>
  </div>
</div>